{% extends 'base.html.twig' %}

{% block title "Creer une categorie" %}

{% block body %}
        <form action="{{ path('categorie.create') }}" method="post">
            <label for="nom">Nom</label>
            <input id="nom" type="text" name="nom">
            <button type="submit">Ajouter</button>
        </form>
    <table class="marque-table">
        <thead>
        <tr>
            <th>Marques Existantes</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}